{#{% extends 'socialnetwork/index.html' %}#}
{#{% block content %}#}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        {{ form.as_p }}
        <p><button type="submit">Профиль</button></p>
    </form>
    <form action="{% url 'app_users:logout' %}" method="post">
        {% csrf_token %}
        <p><button>Выход</button></p>
    </form>
</body>
</html>
{##}
{#{% endblock %}#}